{% extends "base.html"%}
{% block title %} Все события {% endblock %}

{% block content %}
    <h1>{% if act %} Редактирование номера {% else %} Создание номера {% endif %}</h1>
        <form method="post">
           <div style="padding-top: 1%">
                <label for="name" class="form-label">Название</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Название" {% if act %} value='{{act.name}}' {% endif %}>
           </div>

            <div style="padding-top: 1%">
                <label for="number" class="form-label">Порядковый номер</label>
                <input type="number" class="form-control" name="number" id="number" placeholder="Название" {% if act %} value='{{act.number}}' {% endif %}>
           </div>

           <div style="padding-top: 1%">
                <label for="performers" class="form-label">Исполнители</label>
                <select class="form-select" name="performer_ids[]" id="performers" multiple>
                     {% if not current_performers %}
                        <option selected value="2">Выберите исполнителей</option>
                     {% endif %}
                     {% for p in performers %}
                        <option value="{{p.id}}"
                                {% if current_performers and p in current_performers%}
                                selected
                                {% endif %}>
                            {{p.first_name}} {{p.last_name}}
                        </option>
                     {% endfor %}
                 </select>


           </div>

            <div>
                <label for="type_id">Вид номера</label>
                 <select class="form-select" name="act_type_id" id="type_id">
                     {% if not current_act_type %}
                        <option selected value="2">Укажите вид номера</option>
                     {% endif %}
                     {% for type in act_types %}
                        <option value="{{type.id}}"
                                {% if current_act_type and type.name == current_act_type.et_name%}
                                selected
                                {% endif %}>
                            {{type.name}}
                        </option>
                     {% endfor %}
                 </select>
            </div>

            <button type="submit" class="btn btn-success" style="margin-top: 3%; float: right"> {% if act %} Сохранить {% else %} Создать {% endif %}</button>
        </form>
{% endblock %}