{% extends "base.html"%}
{% block title %} Событие {% endblock %}

{% block content %}
    <h3 style="padding-top: 10px">
        <a href="{{url_for('events')}}" style='color: lightgray'>
            <svg xmlns="http://www.w3.org/2000/svg" width="4%" height="4%" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
            </svg>
        </a>
    </h3>
    <center>
        <h1 style="padding: 30px">
                {{event[0].name}} {{event[0].date}}
        </h1>
    </center>

    <form action="{{ url_for('set_event_type', id=event_id) }}" method="post">
        <label for="type_id">Вид события</label>
        <table class="table">
            <tr>
                <td>
                    <select class="form-select" name="type_id" id="type_id">
                        {% if not current_event_type %}
                            <option selected value="2">Выберите вид</option>
                        {% endif %}
                        {% for type in event_types %}
                            <option value="{{type.id}}"
                                    {% if current_event_type and type.name == current_event_type.et_name%}
                                    selected
                                    {% endif %}>
                                {{type.name}}
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <button type="submit" class="btn btn-success" >
                        Сохранить
                    </button>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" action="{{url_for('add_act', id=event_id)}}">
        <label for="add_table">Добавление номера в программу</label>
        <table class="table" id="add_table">
                 <tr>
                     <td>
                         <input required type="text" class="form-control" name="name" id="name" placeholder="Название">
                     </td>
                     <td>
                        <div style="display: flex; padding-right: 10px">
                            <input required type="number" class="form-control" name="number" id="number" placeholder="Номер по порядку">
                            <button type="submit" class="btn btn-success" style="margin-left: 10px">Добавить</button>
                        </div>
                     </td>
                 </tr>
             </table>
        </form>
    <center>
        <h2 style="margin: 7%">
            Программа
        </h2>
    </center>
    {% if acts %}
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Порядковый номер</th>
                    <th>Название</th>
                    <th>Исполнитель</th>
                    <th>Вид номера</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            {% for info in acts %}
                <tr>
                    {% if not info[0].deleted_at %}
                        <td>{{ info[0].act_number }}</td>
                        <td>{{ info[0].act_name }}</td>
                        <td>{% for p in info[1]%} {{p.first_name}} {{p.last_name}} <br> {% endfor %}</td>
                        <td>{{ info[0].act_type_name }}</td>
                        <td>
                            <center>
                                <a href="{{url_for('act_detail', id=info[0].act_id)}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                    </svg>
                                </a>
                            </center>
                        </td>
                            <td>
                                <center>
                                    <form action="{{url_for('delete_act', id=info[0].act_id)}}" method="post">
                                        <button type="submit" class="btn btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg>
                                        </button>
                                    </form>
                                </center>
                            </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <center>
            <h5 style="margin: 10%; display: block">
                Нет добавленных номеров
            </h5>
        </center>
    {% endif %}
{% endblock %}